*{
    margin: 0;
    padding: 0;
    font-family: 'Itim',cursive;
}
body{
    background-color:#121818;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}
h1{
    
    color: aliceblue;
    text-align: center;

}
.container{
    height: 700px;
    border: 2px solid beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:5px;

}
.btncon{
    width: 305px;
    height: 305px;
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    


}
button{
    height: 100px;
    width: 100px;
    font-size: larger;
    background-color: antiquewhite;
    color: black;
    font-weight: 200;
    border-radius: 1rem;
}
.reset{
   

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
button:hover{
   color:red;
}
.hidden{
    display: none;
}
